/* src/app/globals.css */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  background-color: #f2f2f2;
  color: #1c1c1c;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  color: #1c1c1c;
  line-height: 1.15;
}
